* text=auto !eol
/404.html -text
/album.html -text
css/font-awesome.min.css -text
css/ie8.css -text
css/ie9.css -text
css/images/arrow-small.svg -text
css/images/arrow.svg -text
css/images/close-small-alt.svg -text
css/images/close-small.svg -text
css/images/close.svg -text
css/images/open-small.svg -text
css/images/open.svg -text
css/images/spinner.svg -text
css/main.css -text
css/noscript.css -text
css/perso.css -text
fonts/FontAwesome.otf -text
fonts/fontawesome-webfont.eot -text
fonts/fontawesome-webfont.svg -text
fonts/fontawesome-webfont.ttf -text
fonts/fontawesome-webfont.woff -text
fonts/fontawesome-webfont.woff2 -text
inclure/head.html -text
inclure/js.html -text
inclure/sociaux.html -text
js/ie/PIE.htc -text
js/ie/html5shiv.js -text
js/ie/respond.min.js -text
js/jquery.min.js -text
js/main.js -text
js/skel.min.js -text
lang/lens_fr.php -text
/paquet.xml -text
/sommaire.html -text
